<body>
  <form class="form-signin">
    <img
      src="/osemka-website/src/app/images/undraw_right_direction_tge8.png"
      alt=""
      width="100px"
    />

    <h2 class="text-center mb-4">Please sign in</h2>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required
      autofocus
    />
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required
      autofocus
    />

    <div class="form-check mt-4">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>

    <div class="d-grid gap-2">
      <button class="btn btn-primary mt-4" type="submit">Sign in</button>
    </div>

    <div class="container mt-4 text-center">
      <p>Copyright &copy; 2023 Osemka LDH</p>
    </div>
  </form>
</body>
