<section class="bg-dark text-light p-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>
          Ósma Londyńska Drużyna <span class="text-warning">Harcerzy</span>
        </h1>
        <p class="lead my-4">
          Here at 8th London Scouts, every week, our volunteers empower hundreds
          of young people to learn new skills, make new friends and stand on
          their own two feet. They shape young people’s lives for the better,
          and find out a whole lot about themselves in the process, too.
        </p>
        <button
          class="btn btn-primary btn-lg"
          data-bs-toggle="modal"
          data-bs-target="#enroll"
        >
          Join Now
        </button>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="/osemka-website/src/app/images/undraw_positive_attitude_re_wu7d.svg"
        alt=""
      />
    </div>
  </div>
</section>

<section class="bg-primary text-light p-5">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <h3 class="mb-3 mb-md-0">Join Our Newsletter</h3>

      <div class="input-group news-input">
        <input
          type="text"
          class="form-control"
          placeholder="Enter your email"
          aria-label="Enter your email"
          aria-describedby="button-addon2"
        />
        <button class="btn btn-dark btn-lg" type="button">Sign Up</button>
      </div>
    </div>
  </div>
</section>

<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3"><i class="bi bi-laptop"></i></div>
            <h3 class="card-title mb-3">Online</h3>
            <p class="card-text">
              The past three years have been a challenge for us all. We have
              adapted some of our meetings so that they are accessible for all,
              no matter where you are.
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3"><i class="bi bi-person"></i></div>
            <h3 class="card-title mb-3">In person</h3>
            <p class="card-text">
              Take part in our engaging activities and learn more about Polish
              culture and history, as well as survival skills. Weekly meetings
              for all scouts aged 11+
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3"><i class="bi bi-diagram-3"></i></div>
            <h3 class="card-title mb-3">Conferences</h3>
            <p class="card-text">
              Quarterly meetings with ZHP officials. Learn from the leaders and
              find out what's happening with other Polish scouting groups in the
              country.
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="learn" class="p-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img
          src="images/undraw_positive_attitude_re_wu7d.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md p-5">
        <h2>Lead the change and inspire future generations</h2>
        <p>
          Whether you’re completely new to scouts or have been with us since you
          were 5 years old, joining is a great way to meet new people, seek out
          new challenges and see the world. Because being a grown up shouldn’t
          mean you have to miss out on all the fun.
        </p>
        <p>
          When you join 8LDH, you’ll be introduced to lots of new activities,
          people and things. Find out more about what we get up to and how you
          can get involved.
        </p>
        <a href="#" class="btn btn-light mt-3">
          <i class="ni bi-chevron-right"></i>Read More
        </a>
      </div>
    </div>
  </div>
</section>

<section id="learn" class="p-5 bg-dark text-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5">
        <h2>Learn about Polish culture and history</h2>
        <p>
          Polish culture forms an important part of western civilization and the
          western world, with significant contributions to art, music,
          philosophy, mathematics, science, politics and literature.
        </p>
        <p>
          Learn more about our country's culture; history, language and other
          traditions. You will also pick up key survival skills and learn what
          it takes to become a true Polish scout.
        </p>
        <a href="#" class="btn btn-light mt-3">
          <i class="ni bi-chevron-right"></i>Read More
        </a>
      </div>
      <div class="col-md">
        <img
          src="images/undraw_solution_mindset_re_57bf.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section id="questions" class="p5 mb-5">
  <div class="container">
    <h2 class="text-center m-4">Frequently Asked Questions</h2>
    <div class="accordion accordion-flush" id="questions">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-one"
          >
            How old do I have to be to join 8LDH?
          </button>
        </h2>
        <div
          id="question-one"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Any male aged 11+ can join 8LDH. There is a girls only scout group
            working alongside us for any females interested.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="question-two">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
          >
            What will I do?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="question-two"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Participate in life-changing international activities or experiences
            that will enable you to develop an understanding of global issues
            that highlight our interdependence as citizens of the world.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="question-three">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
          >
            Where are you located?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="question-three"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Our weekly gropu sessions take place in North West London. Scroll
            down to see an accurate location.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ourteam" class="p-5 bg-primary">
  <div class="container">
    <h2 class="text-center text-white">Our Team</h2>
    <p class="lead text-center text-white mb-5"></p>
    <div class="row g-4">
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/jan-face.jpeg"
              alt=""
              class="rounded-circle mb-3"
            />
            <h3 class="card-title mb-3">Jan Andrzejczyk</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
              similique!
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/jan-face.jpeg"
              alt=""
              class="rounded-circle mb-3"
            />
            <h3 class="card-title mb-3">Jan Andrzejczyk</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
              similique!
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/jan-face.jpeg"
              alt=""
              class="rounded-circle mb-3"
            />
            <h3 class="card-title mb-3">Jan Andrzejczyk</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
              similique!
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/jan-face.jpeg"
              alt=""
              class="rounded-circle mb-3"
            />
            <h3 class="card-title mb-3">Jan Andrzejczyk</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
              similique!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md">
        <h2 class="text-center mb-4">Contact Us</h2>
        <ul class="list-group list-group-flush lead">
          <li class="list-group-item">
            <span class="fw-bold">Main Location:</span> St. Mary Magdalene's
            School
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Telephone:</span> 020 8900 8444
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Weekly Meetings:</span> 13:00 Every Saturday
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Email:</span> osemka@gmail.com
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="enroll"
  tabindex="-1"
  aria-labelledby="enrollLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="enrollLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="lead">Fill out the below form to sign up</p>
        <form action="">
          <div class="mb-3">
            <label for="first-name" class="col-form-label">First Name:</label>
            <input type="text" class="form-control" id="first-name" />
          </div>

          <div class="mb-3">
            <label for="last-name" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="last-name" />
          </div>

          <div class="mb-3">
            <label for="email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="email" />
          </div>

          <div class="mb-3">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="text" class="form-control" id="phone" />
          </div>

          <div class="mb-3">
            <label for="Date of Birth" class="col-form-label"
              >Date of Birth:</label
            >
            <input type="text" class="form-control" id="Date of Birth" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
